@model ExtremeValue
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <h4>For @Model.NameCurrency from @Model.StartDate.ToString("dd/MM/yyyy") to @Model.EndDate.ToString("dd/MM/yyyy") :</h4>
<br/>
-Max value @Model.MaxValue
<br/>
-Min value @Model.MinValue